div{
    text-align: center;
    color: white;
    
    padding: 2px;
    margin-top:20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: medium;
}
body{
    background-image: url("photo.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
